

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,header,div{
    /*border: 1px solid black;*/
}
header, main {
    background-color: RGB(255,194,52);
}

.navbar {
    background-color: RGB(255,194,52) !important;

}
.nav_list{
    color: rgb(65,31,9);
}
main{
    display: flex;
    justify-content: space-around;
}
.container_logo_image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding: 20px;
    gap:100px;
}
.container_logo{
   align-content: center; 
   flex-direction: column;
   justify-content: space-around;
}
.preco{
    position: relative;
    bottom: 100px;
}
.dotted_text{
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    border: 2px dashed RGB(65,31,9);
    font-weight: bold;
    padding: 5px;
}
.burger_title{
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder; 
}
.week_title{
    font-size: 70px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder; 
}
.container_image{
    align-self: flex-end;
}
#menu{
    display: flex;
    justify-content: center;
}
.menu_flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
}
.menu_direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu1, .menu2, .menu3{
    padding: 20px;
}
h6{
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 17px;
    font-weight: bolder;
}
h5{
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-size: 30px;
    font-weight: bolder;
}
.menu1{
    background-image: url("../img/sessao1/fundo1.png") !important;
    width: 549px;
    height: 387px;
}
.menu2{
    background-image: url("../img/sessao1/fundo2.png") !important;
    width: 548px;
    height: 177px;
}
.menu3{
    background-image: url("../img/sessao1/fundo3.png") !important;
    width: 548px;
    height: 177px;
}
#cards{
    display: flex;
}

